.header-holder{
    display: flex;
    background-color: transparent;
    align-items: center;
    min-height: 70px;

    .logo-holder{
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-aqua;
        font-weight: bold;
        font-size: 20px;
        text-shadow: 2px 2px $primary-pink;
        margin-left: 10px;


        span{
            color: $primary-pink;
            margin-right: 5px;
        }
    }


    .routes-holder{
        display: flex;
        flex-grow: 2;
        justify-content: center;
        
        .router-link-custom{
            min-width: 120px;
            justify-content: center;
            min-height: 70px;
            display: flex;
            align-items: center;
            border-bottom: 2px solid transparent;

            .route-name{
                font-size: 20px;
                font-weight: bold;
                color: $primary-white;
            }
        }

        .router-link-custom:hover{
            .route-name{
                color: $primary-aqua;
            }

            border-bottom: 2px solid $primary-pink;
        }
    }
}